/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.description {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

/* Review item styles */
.reviewItem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
}

.reviewItem .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clientImage .avatar-icon {
    font-size: 24px; /* Adjust the size as needed */
    color: #333;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin-right: 5px;
}

/* Review content styles */
.review {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

p {
    margin: 0;
}

/* Review actions (Edit and Delete buttons) */
.review-actions {
    margin-top: 10px;
}

.edit-review, .delete-review {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}

.edit-review:hover, .delete-review:hover {
    background-color: #0056b3;
}

.edit-review a{
    text-decoration: none;
    color: #fff;
}

.delete-review{
    background-color: #ff6060;
}
